/target/
!.mvn/wrapper/maven-wrapper.jar

#PREFERENCES
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/.project/
mvnw
mvnw.cmd
/.settings/
*mvn/

*/node_modules/

/bin/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

*/.vscode/
*.yarn.lock
*/node_modules/
*package-lock.json
front_end/indecision-app/node_modules/

# System Files
.DS_Store
Thumbs.db


front_end/dynamic-component/node_modules/*
front_end/dynamic-component/angular.json
front_end/dynamic-component/package.json
front_end/dynamic-component/package-lock.json
front_end/dynamic-component/tslint.json
front_end/dynamic-component/tsconfig.json
front_end/dynamic-component/.editorconfig
